[submodule "GitBrowser"]
	path = GitBrowser
	url = https://github.com/ravitripathi/GitBrowser.git
[submodule "EyeTracker"]
	path = EyeTracker
	url = https://github.com/ravitripathi/EyeTracker.git
[submodule "AppStoreCard"]
	path = AppStoreCard
	url = https://github.com/ravitripathi/AppStoreCard.git
[submodule "MovieBrowser"]
	path = MovieBrowser
	url = https://github.com/ravitripathi/MovieBrowser.git
